@charset "UTF-8";
/* 全体に適用する */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

/* root */
:root {
    --white: #ffffff;
    --black: #222;
    --color: #868f97;
}

/* 基本設定 */
body {
    background-color: var(--white);
    text-align: left;
    line-height: 1.7;
    letter-spacing: 0.1em;
    font-size: 13px;
    font-family: "Noto Serif JP", serif;
    color: var(--black);
}

/* リンク */
a {
    color: var(--color);
    transition: .5s all;
}

/* ナビゲーション */
nav {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

nav ul li a,
a.link {
    display: inline-block;
    padding: 0.1em 1em;
    text-decoration: none;
}

nav ul li a:hover,
a.link:hover {
    background-color: var(--white);
    color: var(--black);
}
